doctype html
html
  head
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(charset="utf-8")
    title testingtest
  body
    h1 un test
    form(action="/installations", method="GET")
      input(type="text", name="arrondissement")
      input(type="submit", value="send")
